.card{
    border: 1px #cbc5c5 solid;
    border-radius: 6px;
    padding: 1rem;
    text-align: start;
    margin-bottom: 7px;
    background-color: white;
}

.card p{
    margin: 2px;
}

.row-start{
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
}
.row-mid, .row-end{
    display: flex;
    justify-content: flex-start;
}

#user-img span{
    font-size: 9px;
    position: relative;
    margin-left: -4px;
}

.breadcrumb{
    font-weight: 300;
    color: gray;
    border: 1px #cbc5c5 solid;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}
