.App {
  text-align: center;
  font-family: 'Outfit', sans-serif;
  /* font-family: 'Bricolage Grotesque', sans-serif; */
}

.App select, .App label{
  /* font-family: 'Bricolage Grotesque', sans-serif; */
  font-family: 'Outfit', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.select select, .select label{
  margin-left: 0.5rem;
}

p, span{
  font-size: medium;
  font-weight: 400;
}
select, label{
  font-size: medium;
  border-radius: 4px;
  font-weight: 300;
}

.App .select{
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding: 0.7rem;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
